{
  "extends": [
    "eslint:recommended",
    "google",
    "prettier",
    "plugin:jest/recommended",
    "plugin:react/recommended"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "valid-jsdoc": "off",
    "react/prop-types": "off",
    "jest/expect-expect": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
